@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --azulp: #222A68;
    --branco: #FDFDFF;
    --laranja: #FF8200;
    --azulc: #9d91ff;
    --cinza: #1d231a; 
}

.max-tam{
    width: 980px;
    margin: auto;
}

a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

a:hover, li:hover{
    text-decoration: underline;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

menu{
    list-style: none;
    display: flex;
    text-align: center;
}

img{
    display: block;
}

header{
    background-color: var(--azulp);
    padding-bottom: 3px;
}

.container{
    display: flex;
}

.container > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-media{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
}

.social-media > menu{

    gap: 20px;
    box-sizing: border-box;
    padding: 10px 0px;
}
header nav menu li{
    flex-grow: 1;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
    
}

header nav menu li a{
    width: 100%;
}

header nav menu li:hover{
    background-color: var(--branco);
    transition: all 300ms 100ms ease-out;
}

header nav menu li:hover a{
    transform: scale(1.1);
    color: var(--azulp);
    transition: all 300ms 100ms ease-out;
}

header nav a{
    color: var(--branco);
}

main{
    font-size: 1.2em;
}

.poster{
    height: 320px;
    background-image: url(imgs/poster1440.webp);
    background-size: cover;
    background-position: center;
}

article{
    padding: 40px 0px;
}

h1{
    color: var(--laranja);
    text-transform: uppercase;
}

article p{
    text-indent: 3em;
}

article > p{
    padding: 20px 15px;
}

.caixa-azul{
    background-color: var(--azulp);
    padding: 20px 15px;
    border-radius: 20px;
    display: flex;
}

.caixa-azul section{
    padding: 0px 20px;
}

h2{
    font-size: 1.3em;
    color: var(--azulc);
    margin: 20px;
}

.caixa-azul {
    color: var(--branco);
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: var(--azulp);
    color: var(--branco);
    padding: 20px;
    font-size: 0.9em;
}

footer a{
    color: var(--branco);
}

footer h4{
    color: var(--laranja);
    padding-bottom: 10px;
    font-size: 1.15em;
}

footer section menu{
    list-style: disc;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    list-style-position: inside;
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

footer aside{
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .social-media{
    width: 100%;
    justify-content: center;
}

#home:hover, .social-media a:hover{
    transform: scale(1.2);
    transition: all 100ms 50ms ease-out;
}

.capitalize{
    text-transform: capitalize;
}

.logo-alt120{
    height: 110px;
    display: flex;
    align-items: center;
}

.card-artista{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    padding: 40px;
    font-size: 1.07em;
    margin-top: 30px;
}

.card-artista h2{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0px;
}

.card-artista p{
    padding-right: 30px;
    padding-top: 20px;
    
}

.card-artista aside{
    margin-top: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}

.trap2{
    position: absolute;
    top: 0px;
    right: 0px;
}

.art-artistas{
    padding: 30px 50px;
}